.heder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--colorCardVerde);
  box-sizing: border-box;
}

.heder ul {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.heder ul li {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: background-color 0.2s ease;
  box-sizing: border-box;
}

.heder ul li a:focus{
  background-color: var(--colorBoton);
}

.heder ul li a:focus:hover{
  color: var(--colorCardVerde);
  background-color: var(--colorBoton);
  box-shadow: 2px 2px 4px var(--colorNegro);
}

.heder ul li:hover{
  background-color: var(--colorBoton);
  box-shadow: 2px 2px 4px var(--colorNegro);
}


.heder ul li:hover .txt-heder {
  color: var(--colorCardVerde);
}

.heder ul li a:active{
  background-color: var(--colorBlanco);
}


.heder ul li a {
  color: var(--colorNegro);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.heder-convenio{
  padding: 0 .5rem;
}
.heder-convenio ul, .heder-empleador ul{
  border-top: 1px solid var(--colorSombra);  
  border-left: 1px solid var(--colorSombra);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.heder-convenio ul li{  
  box-shadow: 1px 1px 1px var(--colorSombra);
  min-height: 40px;
}

.heder-empleador ul li{  
  box-shadow: 1px 1px 1px var(--colorSombra);
}

.heder-empleador{
  height: 30px;
}