.lateral {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  flex: 1;
  gap: .5rem;
  min-width: 220px;
  background-color: var(--colorFondoLateral);
  border-radius: 5px;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-color: var(--colorPrimario) var(--colorSecundario);
  scrollbar-width: none;
  scrollbar-gutter: stable;
}

.constante{  
  max-width: 260px;
}

@media(max-width:1280px){
  .lateral{
    min-width: 200px;
    max-width: 220px;
  }
}