.especificaciones-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 4px;
  gap: .1rem;
}

.especificaciones-container li {
  border-radius: 4px;
  background-color: var(--colorCardEdit);
  padding: 0.1rem 0.3rem;
  border: 1px solid var(--colorNegro)
}

.especificaciones-horizontal {
  width: 100%;
}

.especificaciones-horizontal ul {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.especificaciones-horizontal li {
  flex-grow: 1 ;
  margin: 0.2rem;
  text-align: center ;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}