.desplegable {
  position: absolute;
  top: 40px;
  right: .5rem;
  left: .5rem;
  z-index: 20;
  background-color: var(--colorSombra);
  padding: 1rem;
  
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(280px, 1fr));

  gap: .5rem;
  border: 1px solid var(--colorNegro);
  border-radius: 5px;
  max-height: 250px;
  
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: var(--colorSubmenu) var(--colorSombra);
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}