.centro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: .5rem;
  margin: 0;
  gap: 1rem;
  flex:2 1 auto;
  min-width: 580px;
  background-color: var(--colorFondo);
  border-radius: 5px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;  
  scrollbar-color: var(--colorSubmenu) var(--colorFondo);
  scrollbar-width:thin;
  scrollbar-gutter: stable;
}

.centro-chico{
  min-width: 350px;
  height: 100%;
}

.div-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  gap:1rem;
}

.div-vertical {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 .5rem;
  box-sizing: border-box;
}

.div-checkbox{
  height: fit-content;
}

.centrado-vertical{
  justify-content: center;
  align-items: center;
}

.centro{
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
