.buscador {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  gap: 1rem;
}

.botonera-buscador {
  width: fit-content;
  margin-top: .6rem;
}

.buscador-titulo {
  margin-top: .5rem;
}

.buscador-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: .5rem;
  margin: 0;
}

.buscador-desplegable {
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(280px, 1fr));
  justify-content: center;
  align-items: start;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  gap: .5rem;
  padding: .5rem;
  padding-left: 0;

  scrollbar-color: var(--colorSubmenu) var(--colorSombra);
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.buscador-libro{
  position: relative;
}

.buscador-libro .desplegable{
  top: 100px;
}
