.contenedor-particular{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  padding-bottom: 0;
  margin: 0;
  flex:2;
  gap: .5rem;
  min-width: 400px;
  box-sizing: border-box;
}
