.card-libro {
  padding: 0;
  flex-direction: row;
  height: 85px;
}

.card-libro img {
  width: 20%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(1px 1px 2px var(--colorSombra));
  margin: 0;
  padding: 0;
  border-radius: 5px 0 0 5px;
  filter: drop-shadow(1px 1px 2px var(--colorSombra));
}

.card-libro ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: fit-content;
  padding: 0;
  margin: 0;
  gap: 0;
  border-radius: 0 5px 5px 0;
  height: 100%;
  overflow: hidden;
}
.card-libro li {
  padding: .1rem 0.2rem;
  margin: 0;
  height: 100%;
  white-space: nowrap;
  font-size: small;
}

.enStock {
  background-color: var(--colorStock);
}

.vertical-libro-card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5rem;
  padding-top: 0;
  flex:1;
  overflow: hidden;
  box-sizing: border-box;
}
.pg-flotante {
  position: absolute;
  bottom: 2px;
  right: 10px;
  padding: .1rem .1rem .1rem .8rem;
  background-color: var(--colorCardGris);
}

.retirado {
  background-color: var(--colorCardGris);
}

.terminado {
  background-color: var(--colorCardVerde);
}

.pendiente {
  background-color: var(--colorCardRosa);
}