#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 1910px;
}

.general{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1;
  height: calc(100vh - 80px);
  gap: .5rem;
  padding: .5rem;
  overflow: hidden;
  box-sizing: border-box;
}

.retirado {
  background-color: var(--colorCardGris);
}

.terminado {
  background-color: var(--colorCardVerde);
}

.pendiente {
  background-color: var(--colorCardRosa);
}

.enStock {
  background-color: var(--colorStock);
}

.cancelado {
  background-color: var(--colorSombra);
}

.construccion {
  background-color: var(--colorCardEdit);
}

.enProceso {
  background-color: var(--colorCardEdit);
  height: auto;
}