@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/notoSans/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/notoSans/NotoSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/notoSans/NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/notoSans/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/notoSans/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  color-scheme: light dark;
  color: var(--colorNegro);
  background-color: var(--colorBlanco);

  --colorFondo: #f7f7e4;
  --colorBoton: #145a1ee5;
  --colorSubmenu: #8ed14a91;
  --colorCardGris: #dfd9d9;
  --colorCardVerde: #beec8f;
  --colorCardRosa: #f5a79f;
  --colorCardEdit: #F5EFB7;
  --colorError: #df3232;
  --colorSombra: #242422ce;
  --colorStock: #737dba;
  --colorBlanco: #f2f2f3;
  --colorNegro: #000000;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.icono {
  width: 100%;
  height: 100%;
  color: inherit;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  min-height: 500px;
  background-color: var(--colorFondo);
  color: var(--colorNegro);
  overflow: hidden;
  gap: 1rem
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--colorNegro);
    background-color: var(--colorFondo);
  }
}