@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/notoSans/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/notoSans/NotoSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/notoSans/NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/notoSans/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/notoSans/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  color-scheme: light dark;
  color: var(--colorNegro);
  background-color: var(--colorBlanco);

  --colorPrimario:#212B6D;
  --colorNegro: #000000;
  --colorSombra:#8D8B92;
  --colorSecundario:#C6B8D5;
  --colorFondoLateral:#EBEBF6;
  --colorBlanco:#f2f2f3;
  --colorActivo:#F6F6C7;
  --colorInactivo:#F5E6F6;
  --colorJubilado:#E2F0F6;
  --colorVerde:#D8F2B9;
  --colorError:#E40000;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.icono{
  width: 100%;
  height: 100%;
  color: inherit;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  min-width: 1280px;
  min-height: 200px;
  background-color: var(--colorBlanco);
  overflow: hidden;
  gap: 1rem
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--colorNegro);
    background-color: var(--colorBlanco);
  }
}